<div id="<%= dom_id task %>">
  <p>
    <strong>Prompt:</strong>
    <%= task.prompt %>
  </p>

  <p>
    <strong>Completion:</strong>
    <%= task.completion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

</div>
